.active {
  background-color: rgb(130, 153, 194) !important;
  border-radius: 10px;
font-weight: bolder;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
*{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.border {
  background-color: brown;

}
.navbar{
  font-weight: 700;

}
.nav-item :hover{
  background-color:rgb(202, 206, 214);
  border-radius: 10px;
  opacity: 50%;
}
img{
  max-width: 100%;
}

#testimonials-container .testimonial {
  margin-bottom: 20px;
}
